<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <security name="RestrictUploadedImageDimension">true</security>   <!--//是否限制上传图象尺寸-->
  <security name="OverWriteExistingUploadedFile">false</security>   <!--//如果上传的文件已经存在，是否将其覆盖-->
  <security name="UseTimeStampRenameUploadedFiles">true</security> <!--//重命名为时间-->
  <security name="AutoResizeUploadedImages">true</security>   <!--//是否自动调整上传图象-->
  <security name="MaxImageWidth">10240</security>   <!--//上传图象的最大宽度-->
  <security name="MaxImageHeight">7680</security>   <!--//上传图象的最小宽度-->
  <security name="MaxImageSize">100000</security>   <!--//上传图象文件的最大值-->
  <security name="MaxMediaSize">100000</security>   <!--//上传媒体文件的最大值-->
  <security name="MaxFlashSize">100000</security>   <!--//上传Flash文件的最大值-->
  <security name="MaxDocumentSize">100000</security>   <!--//文档最大值-->
  <security name="MaxTemplateSize">1000</security>   <!--//模板最大值-->
  <security name="ImageGalleryPath">~/uploads</security>   <!--//图象文件上传路径-->
  <security name="MediaGalleryPath">~/uploads</security>   <!--//媒体文件上传路径-->
  <security name="FlashGalleryPath">~/uploads</security>   <!--//Flash文件上传路径-->
  <security name="TemplateGalleryPath">~/templates</security>   <!--//模板路径-->
  <security name="FilesGalleryPath">~/uploads</security>   <!--//文件库路径-->
  <security name="MaxImageFolderSize">102400</security>   <!--//图象文件夹最大值-->
  <security name="MaxMediaFolderSize">102400</security>   <!--//媒体文件夹最大值-->
  <security name="MaxFlashFolderSize">102400</security>   <!--//Flash文件夹最大值-->
  <security name="MaxDocumentFolderSize">102400</security>   <!--//文档文件夹最大值-->
  <security name="MaxTemplateFolderSize">102400</security>   <!--//模板文件夹最大值-->
  <security name="ThumbnailWidth">80</security>   <!--//最小宽度-->
  <security name="ThumbnailHeight">80</security>   <!--//最小高度-->
  <security name="ThumbnailColumns">5</security>   <!--//最小列数-->
  <security name="ThumbnailRows">3</security>   <!--//最小行数-->
  <security name="AllowUpload">true</security>   <!--//是否允许上传-->
  <security name="AllowModify">true</security>   <!--//是否允许修改-->
  <security name="AllowRename">true</security>   <!--//是否允许重命名-->
  <security name="AllowDelete">true</security>   <!--//是否允许删除-->
  <security name="AllowCopy">true</security>   <!--//是否允许复制-->
  <security name="AllowMove">true</security> <!-- this is rename too -->   <!--//是否允许移动-->
  <security name="AllowCreateFolder">true</security>   <!--//是否允许创建文件夹-->
  <security name="AllowDeleteFolder">true</security>   <!--//是否允许删除文件夹-->
  <security name="ImageFilters">
    <!--//这里过滤(设置)图象文件格式-->
    <item>.jpg</item>
    <item>.jpeg</item>
    <item>.gif</item>
    <item>.png</item>
    <item>.bmp</item>
  </security>
  <security name="MediaFilters">
    <!--//这里过滤(设置)媒体文件格式-->
    <item>.avi</item>
    <item>.mpg</item>
    <item>.mpeg</item>
    <item>.mp3</item>
    <item>.rvmb</item>
    <item>.flv</item>
  </security>
  <security name="DocumentFilters">
    <!--//这里过滤(设置)文档文件格式-->
    <item>.txt</item>
    <item>.doc</item>
    <item>.docx</item>
    <item>.pdf</item>
    <item>.zip</item>
    <item>.rar</item>
    <item>.avi</item>
    <item>.mpg</item>
    <item>.mpeg</item>
    <item>.swf</item>
    <item>.jpg</item>
    <item>.jpeg</item>
    <item>.gif</item>
    <item>.png</item>
    <item>.htm</item>
  </security>
</configuration>