@charset "utf-8";
/* CSS Document */
html, div, map, dt, isindex, form, header, aside, section, section, article,article2, footer {  
    display: block;  
} 
* {
	margin: 0;
padding: 0;
}
html, body {
height: 100%;
margin: 0;
padding: 0;
font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
font-size: 12px;
min-width: 980px;
}

h1 {
	font:20px/30px "微软雅黑";
	margin-bottom:10px;
 }
 h2 {
	font:12px/30px "微软雅黑";
	margin-bottom:10px;
 }
.clear {
clear: both;
}

.spacer {
height: 20px;
}

a:link, a:visited {
color: #000;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}
#container {
	width: 74%;
	margin-left: 13%;
	margin-right: 13%;
}
#container ul li 
{
	list-style:disc;
    line-height:24px;
    margin-left:20px;
}
/* Header */
.hg {
background:url(headerbg.jpg) center repeat-x;
width: 74%;
margin-left: 13%;
	margin-right: 13%;
}
#header {
height: 147px;
background:url(header.jpg) center no-repeat;
}
#nav {
	height:37px;
	margin-top:-37px;
}
#nav ul li {
	float:left;
	height:37px;
	padding:0px 15px 0px 15px;
	line-height:37px;
	list-style:none;
	margin-top:-3px;
	font-size:18px;
	font-family:微软雅黑;

}
#nav ul li:hover{
	float:left;
	height:34px;
	padding:-3px 10px 0px 10px;
	line-height:34px;
	list-style:none;
	border-bottom:3px solid rgb(1,71,90);
}
#nav ul a{
color : #fff;
}
#nav ul a:hover{
	color : #bde2f8;
text-decoration : none;
}
#nav .search{
	float:right;
	padding-top:10px;
	 margin-right:30px;
}
#nav .search .inputsearch{
	border:1px solid #F90;
	background:#ffffcc;
	margin-left:10px;
	padding:5px;
}
#section {
	width:70.0%;
	float:left;
	display:inline;
}
#section_sub {
	width:75.0%;
	float:right;
	display:inline;
}
#section_sub p{
	font:12px/30px "微软雅黑";
	text-indent:2em;
}
#section_sub2 {
	width:93.0%;
	float:left;
	display:inline;
}
#section_sub2 p{
	font:12px/30px "微软雅黑";
	text-indent:2em;
}
#section h2 {
	color:#009933;
	background:#e2edbb;
	/*border-bottom:1px solid #009933;
	width:100%;*/
background:url(btitle.png);
}
#section h1 {
	color:#009933;
	background:#e2edbb;
	/*border-bottom:1px solid #009933;
	width:100%;*/
background:url(btitle.png);
}
#section ul li a{
	color:#900;
}
#section .new{
	float:left;
	width:50%;
}
.newimg{
	width:270px;
	height:134px;
	float:left;
	padding:10px;
	margin:5px 20px 20px 0px;
	background:#f2f2f2;
	border:1px solid #e1e1e1;
}
h2 .more{
	float:right;
	font-size:12px;
	display:block;
	color:#ccc;
	margin-right:10px;
    margin-top:0px;
}
h2 .more a{
	color:rgb(1,71,90);
}
#section h2 .sty{
	font:bold 20px MyKuster;
	font-family:MyKuster;
	color:#CCC;
	letter-spacing:0.05em;
}
h1 .more{
	float:right;
	font-size:12px;
	display:block;
	color:#ccc;
	margin-right:10px;
    margin-top:-30px;
}
h1 .more a{
	color:#ccc;
}
#section h1 .sty{
	font:bold 20px MyKuster;
	font-family:MyKuster;
	color:#CCC;
	letter-spacing:0.05em;
}
@font-face {
	font-family:'MyKuster';
	src:url('KUNSTLER.ttf');
}
#section time {
	float:right;
}
#flashblock {
	margin:20px 20px 20px 0px;
}
#aside {
	float:right;
	display:inline;
	width:28.0%;
}
#aside_sub {
	float:left;
	display:inline;
	width:23.0%;
	-webkit-box-shadow:0 5px 20px rgba(0,0,0,0.3);
	-moz-box-shadow:0 5px 20px rgba(0,0,0,0.3);
	box-shadow:0 5px 20px rgba(0,0,0,0.3);
}
#aside_sub ul{
	padding-left:50px;
}
#aside_sub ul li{
	font:16px/30px "微软雅黑";
	list-style:url(list.jpg) ;
	margin-left:0px;
    margin-top:10px;
    margin-bottom:20px;
}
#aside_sub ul li:hover{
	list-style:url(liston.jpg);
	}
#aside_sub ul li a:hover{
	color:#F90;
}
#aside_sub h2{
	margin-top:40px;
	color:#ffcc00;
	border-bottom:1px solid #ffcc00;	
	width:100%;
}
#aside_sub h1{
	margin-top:40px;
	color:rgb(0,55,70);
	border-bottom:1px solid rgb(0,55,70);	
	width:100%;
}
#aside_sub h2 .sty{
	font:bold 20px MyKuster;
	font-family:MyKuster;
	color:#CCC;
	letter-spacing:0.05em;
}
#aside_sub h1 .sty{
	font:bold 20px MyKuster;
	font-family:MyKuster;
	color:#CCC;
	letter-spacing:0.05em;
}
#aside h2{
	color:rgb(1,71,90);
	/*background:#fef5d8;*/
	border-bottom:1px solid #ccc;	

	padding-left:10%;
	background:url(title.png);
}
#aside h1{
	color:#e89117;
	/*background:#fef5d8;*/
	border-bottom:1px solid #ccc;	

	padding-left:10%;
	background:url(title.png);
}
#aside .article 
{ 
	margin:20px 0px 20px 0px;
	background:#fffbf6;
	width:100%;
	border:1px solid rgb(1,71,90);
	border-top:0px solid #ccc;
	padding-bottom:10px;
}
#aside .article2 {
	margin:-360px 0px 20px 0px;
	background:#fffbf6;
	width:100%;
	border:1px solid rgb(1,71,90);
		padding-bottom:10px;
}
.figure {
	background:#eee;
	border:1px solid #CCC;
	float:left;
	padding:5px;
	margin:0px 13px 10px 0px;
}
.figure a
{
    color:#fff;
    text-decoration:none;
}
.figure a img{ border:none;}
.figure .figcaption{
	color:#900;
}
.tabs tr 
{
    height:30px;
}
.tabs tr td
{
    height:30px;
}
#footer {
	clear:both;
	background:rgb(2, 39, 49);
	text-align:center;
	height: 30px;
	padding-top:10px;
	padding-bottom:10px;
	width:74%;
	margin-left: 13%;
	margin-right: 13%;
	line-height:30px;
}
#footer a
{
    color:#88b3b9;
    }
#footer span
{
    color:#c0bfbf;
    }